/**************/
/**************/
/*PAGINATION/
/**************/
/**************/
:root {
  --color-pagination: #ffa94d;
  --color-pagination-hover: #ffc078;
}

.pagination {
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50rem;
  font-weight: 600;
}
.pagination svg {
  height: 2.4rem;
  width: 2.4rem;
  stroke: var(--color-pagination);
}
.btn--pagination {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: 1px solid var(--color-pagination);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 2rem;
}
.btn--pagination:hover svg {
  stroke: #fff;
}
.btn--pagination:hover {
  background-color: var(--color-pagination);
}
.pagination span {
  font-weight: bold;
}
.page-link:link,
.page-link:visited {
  text-decoration: none;
  color: black;
  height: 2.4rem;
  width: 2.4rem;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link:hover,
.page-link:active,
.page-link.page--active {
  background-color: var(--color-pagination);
  color: white;
}
.page-link:hover,
.page-link:active {
  background-color: var(--color-pagination-hover);
}
