$color-grey-dark: #333;
$color-grey-med: #777;
$color-grey-light: #999;

$color-primary: #10b981;
$color-primary-light: #6ee7b7;
$color-primary-dark: #047857;
$color-primary-darkest: #065f46;

$color-secondary-dark: #f76707;
$color-secondary: #ff922b;
$color-secondary-light: #ffc078;

$color-white: #fff;
$color-black: #000;
