$color-card: #0369a1;
$color-card-dark: #0c4a6e;
$color-card-light: #0ea5e9;

$color-primary-800: #174964;
$color-primary-600: #1f6186;
$color-primary-400: #5294b9;
$color-primary-300: #7dafca;
$color-primary-500: #2779a7;
$color-primary-200: #a9c9dc;
$color-primary-100: #d4e4ed;

$color-secondary-dark: #991b1b;
$color-secondary-light: #ef4444;
$color-secondary: #b91c1c;

$color-grey-primary: #333;
$color-grey-777: #777;
$color-grey-555: #555;

$color-bg-cards: #172554;
$color-black: #000;
$color-white: #fff;

$border-radius-small: 5px;
