*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
main {
  padding: 2.4rem;
}
section {
  margin-bottom: 8rem;
}
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
